<%- include ('partials/header'); %>
<title>My Portfolio Homepage</title>

  <div class="page_title">
    <div class="inner_centered">
      <div id="page_title" class="pt-4">
        Welcome, I am <span id="my_name">Zachary</span>
      </div>
    </div>
  </div>

      <div id="About_Me">
        <div>
          <h1 class="Section_Title">About me:</h1>  
            <div class="container">
              <div>
         
                <div id="About_Me_Paragraph"> 
                  <p>
                    I am currently working on developing my skills as a web designer and developer.  There are many resources I have used including: Harvard's CS50X, Udemy, Youtube and Stack Overflow.  Although I am still in the early stages of my study, I am passionate about this field, and determined to grow and learn more.  On the front-end, I have used HTML, CSS and Javascript, and am currently studying React.  On the back-end, I have worked with node.js, Express and mongoDB, as showcased in my crm application below.
                  </p>   
				  <hr>
                      <p>I am working on learning and applying the following technologies:</p>
					  <h3>Front-End:</h3>
						<div class="row">
							<div class="col-xl-3">
								<img src="https://www.w3schools.com/whatis/img_html.jpg" class="slide_left">
							</div>
							<div class="col-xl-3">
								<img src="https://www.w3schools.com/whatis/img_css.jpg" class="slide_left">
							</div>
							<div class="col-xl-3">
								<img src="https://www.w3schools.com/whatis/img_js.png" class="slide_right">
							</div>
							<div class="col-xl-3">
								<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png" class="slide_right">
							</div>						
						</div>
						<h3>Back-End:</h3>
					  	<div class="row">
							<div class="col-xl-4">
								<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" class="slide_left">
							</div>
							<div class="col-xl-4">
								<img src="https://expressjs.com/images/express-facebook-share.png" class="slide_left">
							</div>
							<div class="col-xl-4">
								<img src="https://webassets.mongodb.com/_com_assets/cms/mongodb_logo1-76twgcu2dm.png" class="slide_right">
							</div>
						</div>
							  
                </div>  
              </div>
            </div>
            
            
      </div>
    </div>
	   
	<div id="my_portfolio"> 
		<div class="page_width">
			<h1 class="Section_Title">My Portfolio Project:</h1>
			<h2 class="Section_Title pt-5 pb-2">My Simple CRM</h2>
			<h5 class="Section_Title">Click the Image to learn more:</h5>
			
				<div class="projects">	
					
					<div>
						<a href="/project_1">
							<img src="/images/crm_images/Dashboard.png" class="card-img-top" alt="Project 1"> 
						</a>
					</div>
					
				</div>			
					
		</div>
	</div>
			
          <div id="Contact_Me">
            <div>
              <div class="form_control">
                <h1 class="pb-2 Section_Title">Contact Me:</h1>            
                <div id="contact-div">
                  <form id="contact-form" method="POST" action="/send_email">
                    <input name="name" id="input_name" type="text" class="form-control" placeholder="Your Name" required>
                    <br>
                    <input name="email" id="input_email" type="email" class="form-control" placeholder="Your Email Address" required>
                    <br>
                    <textarea rows="5" name="message" class="form-control message" placeholder="Message" required></textarea>
                    <br>
                    <input type="submit" class="form-control submit zoom" value="Send" onclick="validateForm();">
                  </form>
                </div>
              </div>

            </div>
          </div>

<%- include ('partials/footer'); %>