<%- include ('partials/header'); %>
<title>My Simple CRM Project</title>
<link rel="stylesheet" type="text/css" href="/styles/project_1.css">

<div id="project_1">
	<div class="page_width">
        <div class="container-fluid">
            <h1 class="Section_Title pt-5">My Simple CRM</h1>
            <div class="row slide_left">
                <div class="col-xl-6">
                    <img src="/images/weather_react_app_images/weather_app.png" class="card-img-top" alt="Project 1">
                </div>
                <div class="col-xl-6">
                    <div class="explanation">
                        <h1 class="Section_Title">About This Project:</h1>  
                        <p>I wanted to create a basic React application to display the weather of a city in any given country. 
                            This uses the weather api and displays relevant information once the city is selected. 
                            One select feature is that it will detect if the country is the US or not, and adjust the temperature and wind speed units accordingly.                 
                        </p>
                        <p>I would like to thank Youtube user "Hamza Mirza" for providing a basic React tutorial in which this app could be created.</p>
                        <h1 class="Section_Title">More Information:</h1>  
                        <h5 class="Section_Title"><a href="https://github.com/zernst3/my_weather_app" target="_blank">Please click here to view the source code on github</a>
                        </h5>
                        <h5 class="Section_Title"><a href="https://zernst-reactweather.herokuapp.com/" target="_blank">Please click here to view the deployed demo</a>
                        </h5>
                    </div>
                </div>
            </div>
                       
        </div>        
    </div>
    
</div>

<%- include ('partials/footer'); %>