ul {
    list-style-type: none;
}

body, html {
    height: 100%;
	width: 100%;
    font-family: 'Baloo Bhaina 2', Regular;
    /* background: rgb(181,181,181); */
    background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80");
    /* background: linear-gradient(90deg, rgba(181,181,181,1) 0%, rgba(158,158,158,1) 51%, rgba(181,181,181,1) 100%); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: center;
	scroll-behavior: smooth;
  }

hr {
    width: 80%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to left, rgba(117, 117, 117, 0), rgba(117, 117, 117, 0.75), rgba(117, 117, 117, 0));
}  

/* About Me */

#about_me {
	background-color: white;
}

#about_me_paragraph {
    /* max-height: 50vh; */
    /* background-color: white; */
    /* border-radius: 25px;
    border: 2px solid gray; */
    padding: 20px;
    width: auto;
}

#about_me_paragraph ul {
	padding-left: 0;
}

#about_me_paragraph h3 {
	text-align: center;
}

#about_me_paragraph img {
	max-height: 100px;
	width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 1rem;
}

@media (max-width: 768px){
	#about_me_paragraph img{
		max-width: 150px;
		height: auto;
	}
}

#about_me {
	min-height: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
}

/* End About Me */

/* Portfolio */

#my_portfolio ul {
	margin-bottom: 0;
}

.projects {
	max-width: 75%;
	margin: auto;
}


.projects div img {
	border-radius: 5px;
	max-height: 100vh;
	object-fit: cover;
}

@media (max-width: 1100px) {
	.projects {
		max-width: 90%;
		margin: auto;
	}
}

/* End Portfolio Projects */


/* Page Layout */

.Section_Title {
    text-align: center;
    color: white;
}

#about_me .Section_Title {
	color: black;
}

#my_portfolio {
	min-height: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.full_height {
    height: 100vh;
}

.page_title {
    height: 100vh;
}

.inner_centered {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
	max-height: 100%;
}

.page_width {
    max-width: 90%;
    margin: auto;
}

#page_title {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 70px;
    font-family: 'Londrina Solid', Regular;
}

#my_name {
    color: tomato;
    font-size: 80px;
}

#Titlename
{
    color: #000000;
    opacity: 1;
    font-weight: bold;
    font-size: 1.2rem;  
}

/* Zoom */

.zoom {
    transition: transform .2s;
    margin: 0 auto;
  }
  
.zoom:hover {
    transform: scale(1.1);
    z-index: 5;
}

/* Contact */

#contact_me {
	background-color: white;
	min-height: 100%;
	padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%
}

#contact_me .Section_Title {
	color: black;
}

#contact-div {
    color: black;
}

#thank_you {
    color: white;
}